
body {
	margin: 0px;
	padding: 0;
	background: #3C424C url(../images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #464646;
}

h1, h2, h3 {
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	color: #549900;
}

h1 { font-size: 36px; }

h2 { font-size: 18px; }
h3 {}

h5 { font-size: 24px;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
 	color: #FFFFFF;
}

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
}

ul, ol { }

blockquote { }

a { color: #639CBF; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
}

/* Header */

#header-wrapper {
}

#header {
	width: 1140px;
	height: 50px;
	margin: 0 auto;
	padding: 0px;
}

/** LOGO */

#logo {
	width: 1140px;
	height: 100px;
	margin: 0 auto;
	padding: 0px;
	
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-transform:uppercase;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	margin-top: -4px;
	text-transform:uppercase;
	font-size: 13px;
	color: #F6F9FB;
}

#logo h1 {
	font-size: 48px;
}

#logo a {
	text-decoration: none;
	color: #F6F9FB;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF;
}




/* Page */

#page {
	width: 1140;
	margin: 0 auto;
	padding: 20px 20px 0px 20px;
	background: #C1D6E2 url(images/img03.html) repeat-x left bottom;
}

#banner {
	padding-bottom: 20px;
}

/* Content */

#content {
	float: left;
	padding-left: inherit;
	width: 1140px;
}

/* Post */

.post {
	width: 1140px;
	margin-bottom: 20px;
	padding: 20px 20px;
	background: #FFFFFF;
	border: 1px solid #8D9AB0;
}

.post .title {
	height: 44px;
}

.post .title a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 30px;
	color: #238EC6;
}

.post .date {
}

.post .meta {
	height: 32px;
	margin-top: -10px;
	margin-left: 2px;
	padding: 4px 30px 2px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a { }

.post .entry {
	border-top: 1px solid #E0E0E0;
	padding: 10px 0px;
}

.post .links {
	background: #90BF35;
	border: 1px solid #5F817E;
}

.post .links {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px 0px 4px 0px; 
	padding: 3px 0px 0px 40px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

.post .comments {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px; 
	padding: 3px 0px 0px 40px;
	background: #90BF35;
	border: 1px solid #5F817E;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}



/* Footer */

#footer {
	width: 960px;
	height: 100px;
	margin: 0 auto;
	padding: 0;
}

#footer-bgcontent {
}

#footer p {
	margin: 0;
	padding: 30px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	text-transform: uppercase;
	font-size: 10px;
	color: #C7DAE5;
}

#footer a {
}


.table-main {
	clear: both;
	text-align: left;
	border-collapse: collapse;
	margin: 0px 0px 0px 0px;
	background:#fff;
	border:none;
	width:100%;
}
.table-main td {	
	color: #333;
	border-collapse: collapse;
	vertical-align: center;
	padding: 0px;
	border:none;
}
.table-main ul{ padding:0px; margin:0px 5px; width:100%;}
.table-main li{ padding:0px; margin:0px 0px 5px 0px;}
.table-main li a{ padding:5px; margin:0px 0px 0px 0px; color:#FF6600; 
	font-size:13px; 
	font-weight:bold; 
	text-decoration:none;
	display: block; 
	background:url(../images/Buttun_Normal.html) repeat-x;}
.table-main li a:hover{color:#000000;}
.table-common {
	clear: both;
	text-align: left;
	border-collapse: collapse;
	margin: 10px 0px 10px 0px;
	background:#fff;	
}
.table-common th {
	color: #333; font-size: 14px; 
	font-weight: 700; 
	margin: 2px 2px 2px 2px; 
	padding: 5px 5px; 
	background: url(../images/Background_td.gif) repeat-x top #fff; 
	border-bottom: 1px solid #CCC; 
	border-top: 2px solid #666666;
}
.table-common td {
	color: #333;
	font-size:12px;
	border-color: #fff;
	border-collapse: collapse;
	vertical-align: center;
	padding: 3px 5px;
	border-bottom:0px #CCCCCC solid;
}
.table-list {
	clear: both;
	text-align: left;
	border-collapse: collapse;
	margin: 0px 0px 10px 0px;
	background:#fff;	
}
.table-list th {
	color: #333; font-size: 14px; 
	font-weight: 700; 
	margin: 2px 2px 2px 2px; 
	padding: 5px 5px; 
	background: url(../images/Background_td2.gif) repeat-x top #fff; 
	border-bottom: 1px solid #CCC; 	
	border-top: 2px solid #FF9900;
}
.table-list tr {}

.table-list td {
	color: #333;
	font-size:12px;
	border-color: #fff;
	border-collapse: collapse;
	vertical-align: center;
	padding: 3px 5px;
	border-bottom:1px #CCCCCC solid;
}

.table-user {
	clear: both;
	text-align: left;
	border-collapse: collapse;
	margin: 0px 0px 10px 0px;
	background:#fff;	
}

.table-user th {
	color: #333; 
	font-size: 14px; 
	font-weight: 700; 
	margin: 2px 2px 2px 2px; 
	padding: 5px 5px; 
	background: url(../images/Background_td2.gif) repeat-x top #fff; 
	border-bottom: 1px solid #CCC; 
	border-top: 2px solid #FF9900;
}

.table-user td {
	color: #333;
	font-size:12px;
	border-color: #fff;
	border-collapse: collapse;
	vertical-align: center;
	padding: 3px 5px;
	border-bottom:1px #CCCCCC solid;
}
.table-main textarea:focus{background:#E8E8E8;}
.table-main input:focus{background:#E8E8E8;}
.table-main select:focus{background:#E8E8E8;}

input.angkaC {
	text-align:center;
}
input.angkaL {
	text-align:left;
}
input.angkaR {
	text-align:right;
}


#mssgBox { 
	margin-bottom:0px;
	margin-right:5px;
	margin-left:0px;
	padding:0px;
	float:left;
}

#imgBox { 
	margin-bottom:0px;
	margin-right:5px;
	margin-left:0px;
	padding:0px;
	float:left;
}
